<div class="row" style="margin-top:2em;">
  <div class="col">
    <h3>Disclaimer: Sorry, I cannot offer fixed-bid project work</h3>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>
      Why can't I offer fixed-bid project work? I am happy to answer that question in excruciating detail to anyone who
      will listen. But no one ever does. Usually it's best for both sides to just understand I won't do fixed-bids.
    </p>
    <p><a style="text-decoration:underline; color: blue; cursor:pointer;" (click)="tellMore=true;">I'll listen, tell me
        more...</a></p>
    <p *ngIf="tellMore">
      Fixed-bid work has lots of overhead. I am a one-man shop. No project managers, no lawyers. Nobody to write lengthy
      proposals nobody will read and contracts that can't be enforced. Those people cost money. Most of them cost more
      than programmers do. They deserve to be well compensated because that stuff is difficult and boring. I think it
      ends up cheaper to skip all that. Tell me what you need and let's get started. If it's not going well, fire me.
      All work I do is yours from the first minute I start billing.
    </p>
  </div>
</div>
<p-panel id="appdev">
  <p-header>
    Web Application Development
  </p-header>
  <div class="row">
    <div class="col">
      <ul>
        <li>For new development projects, my preferred tools for development would be:</li>
        <ul>
          <li>Angular for the front end</li>
          <li>.Net Core + HotChocolate GraphQL for the server side logic and DAL</li>
          <li>SQL Server or MySQL for the database</li>
        </ul>
        <li>I've been doing web development since 2001, so I have lots of experience with all kinds of different
          architectures</li>
        <ul>
          <li>.Net MVC</li>
          <li>.Net Webforms</li>
          <li>Developing &amp; consuming REST APIs</li>
          <li>Lots of Javascript and older Javascript frameworks like JQuery</li>
          <li>Developing add-ins for CMS applications like WordPress, Joomla and Sitefinity</li>
        </ul>
        <li>I've worked the most with Microsoft technologies, but I can also help out with some others</li>
        <ul>
          <li>Node.js</li>
          <li>PHP</li>
        </ul>
      </ul>
    </div>
  </div>
</p-panel>
<p-panel id="db">
  <p-header>
    Database Design &amp; Development
  </p-header>
  <div class="row">
    <div class="col">
      I began my career in I.T. as a DBA, so I have a solid background in database design and development. I feel like
      that's a strong foundation for development. An application built on a poorly designed database eventually becomes
      a mess.
    </div>
  </div>
  <div class="row" style="margin-top:1.5em;">
    <div class="col">
      <ul>
        <li>I am an expert with SQL, which is the query language shared by all relational databases</li>
        <li>Anyone who knows SQL can develop pretty well on top of any of the major relational databases, but here are
          my comfort
          levels with each of the databases I've worked with
        </li>
        <ul>
          <li>Microsoft SQL Server - Expert level</li>
          <li>MySQL - Plenty of experience developing on it, but not an expert</li>
          <li>Oracle - I can get by, but it's been years since I've worked with it heavily</li>
        </ul>
      </ul>
    </div>
  </div>
</p-panel>
<p-panel id="advising" style="margin-bottom:3em;">
  <p-header>
    Hosting & Cloud Advising
  </p-header>
  Body Content
</p-panel>
