<div class="row" style="margin-top:2em;">
  <div class="col">
    <h3>Disclaimer: Sorry, I cannot offer fixed-bid project work</h3>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>
      Why can't I offer fixed-bid project work? I am happy to answer that question in excruciating detail to anyone who
      will listen. But no one ever does. Usually it's best for both sides to just understand I won't do fixed-bids.
    </p>
    <p>
      Fixed-bid work has lots of overhead. I am a one-man shop. No project managers, no lawyers, nobody to write lengthy
      contracts. Those people cost money. Most of them cost more than programmers do. They deserve to be well
      compensated because that stuff is difficult and boring. I think it ends up cheaper to skip all that.
    </p>
    <p>Sorry. I bet that's already more than you care to know. It's just that I have had that conversation hundreds of
      times in my career. It's instinct.</p>
  </div>
</div>
<p-panel id="appdev">
  <p-header>
    Web Application Development
  </p-header>
  Body Content
</p-panel>
<p-panel id="db">
  <p-header>
    Database Design &amp; Development
  </p-header>
  Body Content
</p-panel>
<p-panel id="advising" style="margin-bottom:3em;">
  <p-header>
    Hosting & Cloud Advising
  </p-header>
  Body Content
</p-panel>
