<div class="row" style="margin-top:2em;">
  <div class="col">
    <h4>
      To avoid spam, I have to protect my email address with a captcha. Please prove you are not a robot.
    </h4>
  </div>
</div>
<div class="row" style="margin-bottom:2em;">
  <div class="col">
    <re-captcha (resolved)="resolved($event)" [(ngModel)]="token" ></re-captcha>
    <!-- <re-captcha id="recaptcha" name="recaptcha" #recaptcha="ngModel" [(ngModel)]="token"  ></re-captcha> -->
    <!-- <div *ngIf="recaptcha.invalid && (recaptcha.dirty || recaptcha.touched)">recaptcha failed</div> -->
    <!-- <div *ngIf="recaptcha.valid">recaptcha passed</div> -->
  </div>
</div>

<p-panel  *ngIf="token"  >
  <p-header>
   Elementum I.T. Consulting Contact Info
  </p-header>
  <p>Thank you!</p>
  <p>Please read the disclaimer about <a href="/services">"no fixed-bid projects"</a>.
  </p>
  <p>If that doesn't scare you off, please email Brett at bolges@elementumit.com.</p>
</p-panel>
