<!-- Heading Row-->
<div class="row gx-4 gx-lg-5 align-items-center my-5">
  <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="assets/big_Elementum-13337.jpg" alt="..." />
  </div>
  <div class="col-lg-5">
    <h1 class="font-weight-light">Elementum I.T. Consulting</h1>
    <p>20+ years experience providing custom web and database development to small business.</p>
    <!-- <a class="btn btn-primary" href="#!">Call to Action!</a> -->
  </div>
</div>
<!-- Call to Action
  <div class="card text-white bg-secondary my-5 py-4 text-center">
      <div class="card-body"><p class="text-white m-0">This call to action card is a great place to showcase some important information or display a clever tagline!</p></div>
  </div> -->
<!-- Content Row-->
<div class="row gx-4 gx-lg-5">
  <div class="col-md-4 mb-5">
    <div class="card h-100">
      <div class="card-body">
        <h2 class="card-title">Web Application Development</h2>
        <p class="card-text">Specializing in .Net Core and Angular 2+ web application development. But by now I've worked with
          almost everything.</p>
      </div>
      <div class="card-footer"><a class="btn btn-primary btn-sm" href="/services#appdev">More Info</a></div>
    </div>
  </div>
  <div class="col-md-4 mb-5">
    <div class="card h-100">
      <div class="card-body">
        <h2 class="card-title">Database Design &amp; Development</h2>
        <p class="card-text">Experienced in Microsoft SQL Server (both on-premise &amp; Azure), Oracle, MySql. </p>
      </div>
      <div class="card-footer"><a class="btn btn-primary btn-sm" href="/services#db">More Info</a></div>
    </div>
  </div>
  <div class="col-md-4 mb-5">
    <div class="card h-100">
      <div class="card-body">
        <h2 class="card-title">Hosting &amp; Cloud Advising</h2>
        <p class="card-text">Are you paying too much for hosting? Simple websites like this one can be hosted free.
          Sites that need a database back-end can be hosted for a few bucks a month.</p>
      </div>
      <div class="card-footer"><a class="btn btn-primary btn-sm" href="/services/#advising">More Info</a></div>
    </div>
  </div>
</div>



<!-- <div class="row">
  <div class="col">
    Column
  </div>
  <div class="col">
    Column
  </div>
  <div class="col">
    Column
  </div>
</div> -->

<!-- <p>page-home works!</p>
<p>
  <a href="https://localhost:5001/purchaseorder/graphql/">Go to: https://localhost:5001/purchaseorder/graphql/</a>
</p>
<p>
  Try graph query <input type="button" value="Go" (click)="tryGraphQuery()" />
</p>
<div *ngIf="queryResult">
  <div *ngFor="let item of queryResult.purchaseOrders">
    <span>{{item.ponumber}}</span>
  </div>
</div> -->
